/* @juniordelonge */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

/* Top Styles */
.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.top a {
    margin-right: 10px;
    color: #0a0a0a;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.top a:hover {
    color: #1d1d1d;
}

.topright {
    display: flex;
    align-items: center;
    min-width: auto;
}

.topright .material-icons {
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.topright .material-icons::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    z-index: -1;
    transition: background-color 0.3s;
}

.topright .material-icons:hover::before {
    background-color: #e6e6e6;
}
/* @juniordelonge */
/* Search Logo Styles */
.search_logo {
    flex: 1;
    display: flex;
    margin-top: 8%;
    flex-direction: column;
}

.search_logo img {
    object-fit: contain;
    height: 80px;
}

/* Search Camp Styles */
.search_camp {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    height: 50px;
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 550px;
    border-radius: 999px;
    transition:
        box-shadow 0.2s,
        background-color 0.2s;
    background: #fff;
    justify-content: space-around;
    flex-direction: row;
}

.search_camp:hover,
.search_camp:focus {
    box-shadow: 0 0 5px 3px rgba(175, 175, 175, 0.24);
    background-color: #ffffff;
}

.search_camp input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    transition: background-color 0.3s;
}

.search_camp:hover input,
.search_camp:focus input {
    background-color: #ffffff;
}

.search_camp .material-icons {
    margin-top: 3px;
    color: #acb0b5;
    margin: 5px;
}

/* Search Button Styles */
.search_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search_btn button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search_btn button:hover {
    background-color: #f8f9fa;
    border: 1px solid #d3d3d3;
}
/* @juniordelonge */
.Umvnrc {
    flex: 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
    margin-right: 7px;
}

.ly0Ckb {
    background: url(https://www.gstatic.com/inputtools/images/tia.png) no-repeat center;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin: -16px;
}

.yAnw3c {
    visibility: hidden;
}

.material-icons svg {
    height: 24px;
    width: 24px;
    margin-right: 7px;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
    .top {
        padding: 5px;
    }

    .topright .material-icons::before {
        width: 25px;
        height: 25px;
    }

    .search_logo img {
        height: 60px;
    }

    .search_camp {
        margin-top: 15px;
        padding: 12px;
        max-width: 100%;
    }

    .search_camp input {
        font-size: 14px;
    }

    .search_btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 22px;
        flex-direction: row;
    }

    .search_btn button {
        margin: 5px;
        min-width: auto;
    }

    .Umvnrc {
        margin-right: 0;
    }

    .search_camp .material-icons,
    .Umvnrc img,
    .material-icons svg {
        margin: 5px 0;
    }

    .material-icons svg {
        margin-right: 7px;
    }
}

/* @juniordelonge */
