/* @juniordelonge */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}

/* Top Styles */
.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin-top: 1%;
}

.top a {
    margin-right: 15px;
    color: #0a0a0a;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.topright {
    display: flex;
    align-items: center;
    min-width: auto;
}

.topright a:hover {
    text-decoration: underline;
}

.topright a {
    text-decoration: none;
}

.topright .material-symbols-outlined {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topright .material-symbols-outlined::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37px;
    height: 37px;
    background-color: transparent;
    border-radius: 50%;
    z-index: -1;
    transition: background-color 0.3s;
}

.topright .material-symbols-outlined:hover::before {
    background-color: #f0f0f0;
}
/* @juniordelonge */
/* Search Logo Styles */

.search_logo {
    flex: 1 1 auto;
}

.LS8OJ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kKvsb {
    max-height: 230px;
    position: relative;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.SuUcIb {
    height: 24px;
    width: 24px;
    position: absolute;
    right: -32px;
    bottom: 12px;
}

@media (pointer: coarse) {
    .SuUcIb {
        height: 40px;
        width: 40px;
    }
}

.lnXdpd {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom;
}

/* Search Camp Styles */
.search_camp {
    display: flex;
    align-items: center;
    border: 1.8px solid #dfe1e5;
    height: 44px;
    padding: 10px 8px 10px 16px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 580px;
    border-radius: 24px;
    transition:
        box-shadow 0.2s,
        background-color 0.2s;
    background: #fff;
    justify-content: center;
    flex-direction: row;
}

.search_camp:hover,
.search_camp:focus {
    box-shadow: 0 0 5px 3px rgba(175, 175, 175, 0.24);
    background-color: #ffffff;
}

.search_camp input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    transition: background-color 0.3s;
    touch-action: manipulation;
    user-scalable: no;
}

.search_camp:hover input,
.search_camp:focus input {
    background-color: #ffffff;
}

.search_camp .material-symbols-outlined {
    margin-top: 3px;
    color: #acb0b5;
    margin: 5px;
}

/* Search Button Styles */
.search_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search_btn button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search_btn button:hover {
    background-color: #f8f9fa;
    border: 1px solid #d3d3d3;
}

#closer {
    right: 0;
    top: 0;
    position: relative;
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
    transform: translateY(-5%);
}

#closer.show {
    display: block;
}

.ACRAdd.M2vV3 {
    display: block;
}

.ACRAdd {
    display: none;
}
.ACRAdd {
    border-left: 1px solid #5f6368;
    height: 85%;
    margin: 5px;
}
.M2vV3 {
    display: flex;
}
.BKRPef {
    background: transparent;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: row;
    display: flex;
    cursor: pointer;
}

/* @juniordelonge */
.Umvnrc {
    flex: 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
    margin-right: 7px;
}

/* Estilos para a tela normal */
.ly0Ckb {
    background: url(https://www.gstatic.com/inputtools/images/tia.png) no-repeat center;
    height: 24px;
    width: 48px;
    vertical-align: middle;
    margin: -16px;
}

/* Estilos para a tela responsiva (largura menor que 768 pixels, por exemplo) */
@media screen and (max-width: 768px) {
    .ly0Ckb {
        width: 41px;
    }
}

.yAnw3c {
    visibility: hidden;
}

.material-icons svg {
    height: 24px;
    width: 24px;
    margin-right: 7px;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
    .top {
        display: flex;
        padding: 10px 6px;
        margin-top: 1%;
    }

    .topright .material-symbols-outlined::before {
        width: 25px;
        height: 25px;
    }

    .search_camp {
        margin-top: 26px;
        max-width: 95%;
        padding: 5px;
    }

    .search_camp input {
        font-size: 13px;
    }

    .search_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .Umvnrc {
        margin-right: 0;
    }

    .search_camp .material-symbols-outlined,
    .Umvnrc img,
    .material-symbols-outlined svg {
        margin: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .material-symbols-outlined svg {
        margin-right: 7px;
    }
}

/* @juniordelonge */

/* CSS para o rodapé */
.c93Gbe {
    background: #f2f2f2;
}

.uU7dJb {
    padding: 16px 36px;
    border-bottom: 1px solid #dadce0;
    font-size: 13px;
    color: #202124;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Wymece {
    justify-content: flex-end;
}

.SSwjIe {
    padding: 0 20px;
}

.KxwPGc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pHiOh {
    display: block;
    padding: 13px;
    white-space: nowrap;
}

.pHiOh,
a.pHiOh {
    color: #202124;
    font-size: 13px;
}

.pHiOh:hover {
    text-decoration: underline;
}

.pHiOh {
    text-decoration: none;
}
/* @juniordelonge */

@media only screen and (max-width: 768px) {
    .KxwPGc {
        flex-direction: row;
        align-items: center;
        justify-items: center;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    .pHiOh {
        padding: 5px;
    }
    .c93Gbe {
        flex-direction: column;
        padding: 10px;
    }
    .uU7dJb {
        flex-direction: column;
        padding: 10px;
    }
}
